{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'  %}">
    <link rel="stylesheet" href="{% static 'css/style.css'  %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <title>INsTagraM</title>
</head>
<body>
<nav class="top-nav navbar navbar-static-top navbar-default">
<div class="container">
    <div class="navbar-header">
			<a href="{% url 'post:post_list' %}" class="navbar-brand">Instagram</a>
		</div>

		<div class="collapse navbar-collapse">
			<form action="" class="navbar-form navbar-left search-hashtag-form" role="search">
				<div class="form-group">
					<input type="text" class="form-control search-hashtag-input" placeholder="해시태그 검색...">
				</div>
			</form>

            <!--네비게이션 바에서 로그인 여부에 따라 다른 버튼 보여주기 -->
			<ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
				<li><a href="">Likes</a></li>
				<li><a href="">Profile</a></li>
                <!--로그아웃 버튼 추가 -->
                <li><a href="{% url 'member:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'member:login' %}">Login</a></li>
                <li><a href="{% url 'member:signup' %}">Signup</a></li>
                {% endif %}
			</ul>

		</div>
	</div>
</nav>

    {% if messages %}
        {% for message in messages %}
    <div class="alert-message alert
                         {% if message.tags == 'success' %}
                                 alert-success
                         {% elif message.tags == 'error' %}
                                 alert-danger
                         {% endif %}">
    </div>
        {% endfor %}
    {% endif %}

<h1>{% block title %}{% endblock %}</h1>

{% block content %}
{% endblock %}
</div>

</body>
</html>